 <% if flash[:notice] %>
   <div class=notice>
   	  <p>
     <%= flash[:notice] %>
      </p>
   </div>
     <% end %>
<h2>Title</h2>
  <p><%= @book.title %></p>
  <h2>Body</h2>
  <p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<a href= "/books">Back</a>
